.grid-container {
  display: grid;
  grid-gap: 10px;
  width: 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
}

.grid-container > div {
  grid-column: 1 / span 4;
  border-color: black;
  background-color: black;
  color: white;
  text-align: right;
  height: 40px;
  font-size: 30px;
}

.grid-container > button {
  height: 50px;
}

.item0 {
  grid-column: 2;
}
